@use 'src/assets/utils.scss' as *;

.base-image {
  background: var(--clr-pale);

  img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }
}

.fade-in {
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
}
