@use "../assets/utils.scss" as *;

.comment {
}

.comment__header {
  display: flex;
  align-items: flex-start;

  &__texts {
    flex: 1;
    background: var(--clr-pale);
    border-radius: 10px;
    padding: 8px 12px;
  }

  &__name {
    flex-grow: 1;
    font-size: 13px;
    color: grey;
    white-space: nowrap;
    @include ellipsis;

    p {
      @include ellipsis;
    }
  }

  &__content {
  }
}

.comment__body {
  display: flex;
  flex-direction: column;
}
