.post {
  width: 600px;

  &__header {
    display: flex;
    align-items: center;

    &__avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 10px;
    }

    &__texts {
      flex-grow: 1;
      font-size: 13px;
      color: grey;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      > *:first-child {
        // margin-bottom: 4px;
      }
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__body {
    margin-bottom: 10px;
  }

  &__footer {
    &__activity {
      height: 20px;
    }

    &__actions {
      font-size: 15px;

      height: 20px;
      display: flex;
      max-width: 50%;
    }

    &__actions__item {
      display: flex;
      align-items: center;

      img {
        margin-right: var(--sm);
      }

      &:not(:last-child) {
        margin-right: var(--lg);
      }
    }

    &__split {
      background: #d2d2d2;
      height: 1px;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    &__icon {
      height: 20px;
      width: auto;
    }
  }
}

.post-section:not(:last-child) {
  margin-bottom: 10px;
}
