.main-header {
  height: 60px;
  color: #fff;
  background: #4267b2;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 12px;
}

:root {
  --sm: 6px;
  --md: 10px;
  --lg: 18px;
  --xl: 32px;
  --xxl: 64px;
  --xxxl: 128px;
}

.mb-sm {
  margin-bottom: var(--sm);
}

.mb-md {
  margin-bottom: var(--md);
}

.mb-lg {
  margin-bottom: var(--lg);
}

.mb-xl {
  margin-bottom: var(--xl);
}

.mb-xxl {
  margin-bottom: var(--xxl);
}

.mb-xxxl {
  margin-bottom: var(--xxxl);
}
