@font-face {
  font-family: roboto;
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: roboto-bold;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}


html {
  font-family: roboto;
  font-size: 16px;
}

.roboto {
  font-family: roboto;
}

.roboto-bold {
  font-family: roboto-bold;
}


body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0
}

p {
  line-height: 1.2;
}

ul {
  list-style: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}


:root {
  --sm: 6px;
  --md: 10px;
  --lg: 18px;
  --xl: 32px;
  --xxl: 64px;
  --xxxl: 128px;

  --clr-pale: #f5f5f5;
}

.mb-sm {
  margin-bottom: var(--sm);
}

.mb-md {
  margin-bottom: var(--md);
}

.mb-lg {
  margin-bottom: var(--lg);
}

.mb-xl {
  margin-bottom: var(--xl);
}

.mb-xxl {
  margin-bottom: var(--xxl);
}

.mb-xxxl {
  margin-bottom: var(--xxxl);
}

.mr-sm {
  margin-right: var(--sm);
}

.mr-md {
  margin-right: var(--md);
}

.mr-lg {
  margin-right: var(--lg);
}

.mr-xl {
  margin-right: var(--xl);
}

.mr-xxl {
  margin-right: var(--xxl);
}

.mr-xxxl {
  margin-right: var(--xxxl);
}